# Grouped Simple Moving Average

This notebook compares Temporian's and pandas' version of a grouped simple moving average, aiming to evaluate the speed and ease of writing of each library in this specific use case.

## Data

The data we'll be using belongs to the train CSV of [this Kaggle competition](https://www.kaggle.com/competitions/store-sales-time-series-forecasting/data?select=train.csv). It contains daily sales records for grocery stores in Ecuador. Each of the 3 million records corresponds to the daily sales of a certain `family` in a certain store number (`store_nbr`).

To run the notebook, download the CSV and place it in `data/train.csv` in the project's root.

Our goal is to calculate the **weekly moving average** of the sales for **each family** in each **store** (i.e., we want the moving average grouped by those two features).

In [2]:
import numpy as np
import pandas as pd
import temporian as tp

Load data to a pandas DataFrame.

In [3]:
sales_df = pd.read_csv('../data/train.csv', parse_dates=['date'])[['date', 'store_nbr', 'sales', 'family']]
sales_df

              date  store_nbr     sales                      family
0       2013-01-01          1     0.000                  AUTOMOTIVE
1       2013-01-01          1     0.000                   BABY CARE
2       2013-01-01          1     0.000                      BEAUTY
3       2013-01-01          1     0.000                   BEVERAGES
4       2013-01-01          1     0.000                       BOOKS
...            ...        ...       ...                         ...
3000883 2017-08-15          9   438.133                     POULTRY
3000884 2017-08-15          9   154.553              PREPARED FOODS
3000885 2017-08-15          9  2419.729                     PRODUCE
3000886 2017-08-15          9   121.000  SCHOOL AND OFFICE SUPPLIES
3000887 2017-08-15          9    16.000                     SEAFOOD

[3000888 rows x 4 columns]

Load data to a Temporian EventSet.

In [4]:
sales_evset = tp.from_csv('../data/train.csv', timestamps='date')[['sales', 'store_nbr', 'family']]
sales_evset

WARNING:root:Feature "family" is an array of numpy.object_ and will be casted to numpy.string_ (Note: numpy.string_ is equivalent to numpy.bytes_).

indexes: []
features: [('sales', float64), ('store_nbr', int64), ('family', str_)]
events:
     (3000888 events):
        timestamps: ['2013-01-01T00:00:00' '2013-01-01T00:00:00' '2013-01-01T00:00:00' ...
     '2017-08-15T00:00:00' '2017-08-15T00:00:00' '2017-08-15T00:00:00']
        'sales': [   0.       0.       0.    ... 2419.729  121.      16.   ]
        'store_nbr': [1 1 1 ... 9 9 9]
        'family': [b'AUTOMOTIVE' b'BABY CARE' b'BEAUTY' ... b'PRODUCE'
         b'SCHOOL AND OFFICE SUPPLIES' b'SEAFOOD']
memory usage: 150.0 MB

## Grouped moving average in pandas

We use the `rolling` method of pandas DataFrames to calculate the moving average. We group by `store_nbr` and `family` and then apply the rolling method to the `sales` column.

We'll only measure the time it takes to compute the actual moving average, not the time it takes to group the data, since it is not directly comparable between the two libraries.

In [5]:
grouped_df = sales_df.groupby(['store_nbr', 'family'])

In [6]:
%%time

pd_result = grouped_df.rolling('7d', on='date').mean()

CPU times: user 1.11 s, sys: 282 ms, total: 1.39 s
Wall time: 1.51 s

## Grouped moving average in Temporian

Temporian can handle grouped (or hierarchically structured) data natively, using [indexes](https://temporian.readthedocs.io/en/stable/user_guide/#indexes-horizontal-and-vertical-operators). Once our data has the correct index, applying a `simple_moving_average` to it is straightforward.

In [8]:
grouped_evset = sales_evset.add_index(['store_nbr', 'family'])

In [9]:
%%time

tp_result = grouped_evset.simple_moving_average(tp.duration.weeks(1))

CPU times: user 43.4 ms, sys: 10.3 ms, total: 53.6 ms
Wall time: 53.1 ms

## Results

Computing the same grouped moving average in Temporian resulted in a **28x speedup** in this dataset!

#### Sanity check

As a sanity check, lets make sure the results from both libraries are the same.

In [10]:
tp_sma = tp.to_pandas(tp_result).sort_values(['store_nbr', 'family', 'timestamp'])['sales']
pd_sma = pd_result.sort_values(['store_nbr', 'family', 'date'])['sales']
np.allclose(pd_sma, tp_sma)

True

## But... what about Polars?

In [ ]:
# TODO: reproduce with polars, check results against Temporian, report performance results.

import polars as pl

# polars_df = ...